
{%extends 'base.html'%}
{%load static%}
{%block start%}
   
  <section class="about_section layout_padding about-element">
    <div class="container  ">

      <div class="row">
        <div class="col-md-6 ">
          <div class="img-box">
            <img src="{% static 'images/about-img.png' %} " alt="">
          </div>
        </div>
        <div class="col-md-6">
          <div class="detail-box">
            <div class="heading_container">
              <h2>
                We Are Golden Fork
                       </h2>
                <p class="p-element">
                Tucked on the corner of a quiet street, The Golden Fork wasn’t the flashiest place in town, but its charm was irresistible. 
                The air was warm with the scent of fresh bread and sizzling garlic. 
                Wooden tables gleamed under soft amber lights, each set with mismatched but lovingly polished cutlery.
                The menu changed with the seasons—spring brought lemon-kissed risottos, summer meant cool watermelon salads, 

       
            </div>
        </section>
           
{%endblock%}